/data/
/datasets/
/log/
/spark_eventlogs/
/results/
/results_24/
/results_188/
/metastore_db/
/viz_out/
/viz_out_results/
/workloads/
/tests/
/notebooks/__pycache__/
/notebooks/.ipynb_checkpoints/
/workload_spec/tpch_rq1/
/workload_spec/tpch_rq2/
/workload_spec/tpch_rq3/
/workload_spec/tpch_rq4/
/workload_spec/tpch_rq5/
Note.md
TODO.md

/spark-warehouse/
tmp/
__pycache__/
*.pyc
*.log
EOF

.venv/
# wlg/

stats.yaml
workload.yaml
examples/demo.sh

Makefile
pyproject.toml